extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, minima dolore ratione est saepe eos 
                           et dicta consequatur sint natus, sit cumque harum neque earum soluta vitae! Eum, beatae.
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, minima dolore ratione est saepe eos 
                           et dicta consequatur sint natus, sit cumque harum neque earum soluta vitae! Eum, beatae.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, minima dolore ratione est saepe eos 
                  et dicta consequatur sint natus, sit cumque harum neque earum soluta vitae! Eum, beatae.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga, minima dolore ratione est saepe eos 
                  et dicta consequatur sint natus, sit cumque harum neque earum soluta vitae! Eum, beatae.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, iste veniam. Error aut fugiat quasi, voluptatum cupiditate, 
                  asperiores quidem saepe deserunt excepturi ut atque cumque minus itaque placeat sit fuga?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, iste veniam. Error aut fugiat quasi, voluptatum cupiditate.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis sed sint consequatur ipsa sequi culpa sapiente commodi eveniet maiores 
                      iusto similique dignissimos, numquam animi ullam omnis assumenda quidem minima. Recusandae.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis sed sint consequatur ipsa sequi culpa sapiente commodi eveniet maiores 
                      iusto similique dignissimos, numquam animi ullam omnis assumenda quidem minima. Recusandae.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis sed sint consequatur ipsa sequi culpa sapiente commodi eveniet maiores 
                      iusto similique dignissimos, numquam animi ullam omnis assumenda quidem minima. Recusandae.